@import "partials/fonts";

html, body {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  color: azure;
}

//.ui.header {
//  color: #AA0101;
//  font-family: "Clicker Script", cursive;
//}

